.app {
  background-color: #00b7ff;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 400px) {
  .app {
    overflow-x: hidden;
    overflow-y: scroll;
  }
}
