.friends {
  flex: 1;
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background: #000;
}

.friends > h1 {
  color: white;
}

.friend {
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 400px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #2f2a36;
  color: white;
}

.friend__info {
  width: 70%;
}

.friend__info > p {
  padding: 0;
  margin: 0;
}

.friend__chat-icon {
  cursor: pointer;
}

@media screen and (max-width: 400px) {
  .friend {
    margin: 1px;
  }
  .friend__info {
    line-height: 20px;
  }
  .friend__info > p {
    font-size: 16px;
    font-weight: 600;
  }
  .friend__info > span {
    font-size: 14px;
    color: gray;
  }
}
