.requests {
  flex: 1;
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background: #000;
}

.requests > h1 {
  color: white;
}

.request {
  border: 1px solid black;
  display: flex;
  align-items: center;
  max-width: 400px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #2f2a36;
  color: white;
}

.request__img {
  margin-left: 10px;
}

.request__info {
  flex: 1;
  margin-left: 10px;
}

.request__info > p {
  padding: 0;
  margin: 0;
}

.request__btn {
  margin-right: 10px;
}

@media screen and (max-width: 400px) {
  .request {
    margin: 1px;
  }
  .request__info {
    line-height: 20px;
  }
  .request__info > p {
    font-size: 16px;
    font-weight: 600;
  }
  .request__info > span {
    font-size: 14px;
    color: gray;
  }
}
